/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/variable.scss */
.fs10 {
  font-size: 10px;
}

/* line 14, ../sass/variable.scss */
.fs12 {
  font-size: 12px;
}

/* line 15, ../sass/variable.scss */
.fs14 {
  font-size: 14px;
}

/* line 16, ../sass/variable.scss */
.fs16, .heading-area span {
  font-size: 16px;
}

/* line 17, ../sass/variable.scss */
.fs18, h3, h6, .labels-heading {
  font-size: 18px;
}

/* line 18, ../sass/variable.scss */
.fs20 {
  font-size: 20px;
}

/* line 19, ../sass/variable.scss */
.fs22 {
  font-size: 22px;
}

/* line 20, ../sass/variable.scss */
.fs24 {
  font-size: 24px;
}

/* line 21, ../sass/variable.scss */
.fs25 {
  font-size: 25px;
}

/* line 22, ../sass/variable.scss */
.fs26 {
  font-size: 26px;
}

/* line 23, ../sass/variable.scss */
.fs28 {
  font-size: 28px;
}

/* line 24, ../sass/variable.scss */
.fs30 {
  font-size: 30px;
}

/* line 25, ../sass/variable.scss */
.fs32 {
  font-size: 32px;
}

/* line 27, ../sass/variable.scss */
.fwb, .labels-heading {
  font-weight: bold;
}

/* line 31, ../sass/variable.scss */
.fwn {
  font-weight: normal;
}

/* line 35, ../sass/variable.scss */
.no-t-m {
  margin-top: 0;
}

/* line 39, ../sass/variable.scss */
.no-b-m {
  margin-bottom: 0;
}

/* line 42, ../sass/variable.scss */
.no-l-m {
  margin-left: 0;
}

/* line 45, ../sass/variable.scss */
.no-r-m {
  margin-right: 0;
}

/* line 49, ../sass/variable.scss */
.no-margin {
  margin: 0;
}

/* line 53, ../sass/variable.scss */
.no-t-p {
  padding-top: 0;
}

/* line 57, ../sass/variable.scss */
.no-b-p {
  padding-bottom: 0;
}

/* line 60, ../sass/variable.scss */
.no-l-p {
  padding-left: 0;
}

/* line 63, ../sass/variable.scss */
.no-r-p {
  padding-right: 0;
}

/* line 67, ../sass/variable.scss */
.no-padding {
  padding: 0;
}

/* line 73, ../sass/variable.scss */
.mt5 {
  margin-top: 5px;
}

/* line 74, ../sass/variable.scss */
.mt10 {
  margin-top: 10px;
}

/* line 75, ../sass/variable.scss */
.mt15 {
  margin-top: 15px;
}

/* line 76, ../sass/variable.scss */
.mt20 {
  margin-top: 20px;
}

/* line 77, ../sass/variable.scss */
.mt25 {
  margin-top: 25px;
}

/* line 78, ../sass/variable.scss */
.mt30 {
  margin-top: 30px;
}

/* line 79, ../sass/variable.scss */
.mt35 {
  margin-top: 35px;
}

/* line 82, ../sass/variable.scss */
.mb20, .menu-bar {
  margin-bottom: 20px;
}

/* line 85, ../sass/variable.scss */
.tac, .login-logo, .dropdown button, .menu-bar {
  text-align: center;
}

/* line 89, ../sass/variable.scss */
.tal, .dropdown.dropdown-numbers button {
  text-align: left;
}

/* line 93, ../sass/variable.scss */
.tar {
  text-align: right;
}

/* line 97, ../sass/variable.scss */
.w156 {
  width: 156px !important;
}

/* line 5, ../sass/style.scss */
body {
  background: #b4c3ca;
  font-family: Arial;
  font-size: 13px;
}

/* line 11, ../sass/style.scss */
.login-logo {
  display: block;
  margin: 50px auto 0;
}

/* line 16, ../sass/style.scss */
.login {
  background: #fff;
  border-radius: 10px;
  border: #ccc 1px solid;
  margin: 50px auto 0;
  padding: 0 0 15px 0;
  width: 400px;
}

/* line 24, ../sass/style.scss */
.box-header {
  border-bottom: #58b766 2px  solid;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
}

/* line 31, ../sass/style.scss */
.login-body {
  padding: 40px 14px 14px;
}

/* line 36, ../sass/style.scss */
.checkbox label {
  line-height: 21px;
}

/* line 41, ../sass/style.scss */
.submit {
  background: #2da237;
  color: #fff;
  width: 100%;
}

/* line 46, ../sass/style.scss */
.form-horizontal .control-label {
  color: #585858;
  font-weight: bold;
}

/* line 50, ../sass/style.scss */
h3 {
  color: #000;
}

/* line 54, ../sass/style.scss */
h6 {
  color: #777;
}

/* line 58, ../sass/style.scss */
header {
  background: #fff;
  padding: 10px;
}

/* line 64, ../sass/style.scss */
.dropdown {
  min-width: 200px;
}
/* line 66, ../sass/style.scss */
.dropdown button {
  background: #f7f7f7;
  width: 100%;
  border-radius: 3px;
  border: #e5e5e5 1px solid;
  font-size: 14px;
  margin: 10px 0 0 0;
  padding: 9px 20px;
}
/* line 76, ../sass/style.scss */
.dropdown ul {
  width: 100%;
}
/* line 79, ../sass/style.scss */
.dropdown .caret {
  border-top: 6px dashed #727272;
  border-top: 6px solid #727272 \9;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
/* line 86, ../sass/style.scss */
.dropdown.dropdown-numbers {
  width: auto;
}
/* line 88, ../sass/style.scss */
.dropdown.dropdown-numbers ul {
  width: 100%;
}
/* line 91, ../sass/style.scss */
.dropdown.dropdown-numbers button {
  background-color: white;
  border-radius: 4px;
  border: #b6b6b6 1px solid;
  line-height: 43px;
  padding: 0 0 0 13px;
  height: 43px;
}
/* line 100, ../sass/style.scss */
.dropdown.dropdown-numbers button .caret-container {
  background-color: #f2f2f2;
  border-left: #ccc 1px solid;
  border-radius: 0px 4px 4px 0px;
  height: 100%;
  line-height: 42px;
  text-align: center;
  width: 42px;
  display: inline-block;
}

/* line 114, ../sass/style.scss */
.logo {
  display: inline-block;
}

/* line 118, ../sass/style.scss */
.menu-bar {
  border-radius: 6px;
  background: #fff;
}
/* line 124, ../sass/style.scss */
.menu-bar a {
  background: url(../images/icon-menu.png) no-repeat;
  border-bottom: #ccc 1px solid;
  width: 100%;
  height: 58px;
  display: block;
}
/* line 131, ../sass/style.scss */
.menu-bar a.icon1 {
  background-position: center 15px;
}
/* line 134, ../sass/style.scss */
.menu-bar a.icon2 {
  background-position: center -45px;
}
/* line 137, ../sass/style.scss */
.menu-bar a.icon3 {
  background-position: center -103px;
}
/* line 140, ../sass/style.scss */
.menu-bar a.icon4 {
  background-position: center -164px;
}
/* line 143, ../sass/style.scss */
.menu-bar a.icon5 {
  background-position: center -224px;
}
/* line 146, ../sass/style.scss */
.menu-bar a.icon6 {
  background-position: center -284px;
}

/* line 152, ../sass/style.scss */
.box {
  border-radius: 6px;
  background: #fff;
}

/* line 157, ../sass/style.scss */
.box-body {
  padding: 20px;
}

/* line 161, ../sass/style.scss */
.btn {
  width: auto;
  text-transform: capitalize;
}
/* line 164, ../sass/style.scss */
.btn.btn-small {
  padding: 5px 15px;
}
/* line 168, ../sass/style.scss */
.btn.btn-medium {
  padding: 10px 45px;
}
/* line 172, ../sass/style.scss */
.btn.btn-large {
  padding: 15px 30px;
}
/* line 176, ../sass/style.scss */
.btn.btn-green {
  background: #2da237;
  color: #fff;
}

/* line 182, ../sass/style.scss */
.signup-form {
  margin: 0 auto;
}

/* line 187, ../sass/style.scss */
.search {
  position: relative;
}
/* line 190, ../sass/style.scss */
.search .glyphicon-search {
  position: absolute;
  right: 10px;
  top: 12px;
  font-size: 20px;
  color: #ccc;
  z-index: 9;
}
/* line 198, ../sass/style.scss */
.search .input-group-addon {
  padding: 12px 12px;
}
/* line 201, ../sass/style.scss */
.search .form-control {
  height: 43px;
}

/* line 206, ../sass/style.scss */
.labels-heading {
  color: #2da237;
}

/* line 212, ../sass/style.scss */
.heading-area {
  background-color: #ffefef;
  padding: 10px 25px;
  border-radius: 4px;
  border: #ccc 1px solid;
  margin-bottom: 20px;
}
/* line 219, ../sass/style.scss */
.heading-area span {
  color: #000;
  opacity: .8;
  line-height: 44px;
}

/* line 227, ../sass/style.scss */
.dropdown-box {
  background: #f7f7f7;
  border: #b6b6b6 1px solid;
  border-radius: 4px;
  padding: 25px;
}

/* line 235, ../sass/style.scss */
img {
  vertical-align: middle;
}

/* line 239, ../sass/style.scss */
.tab-content {
  padding: 21px 0 0 0;
}
/* line 242, ../sass/style.scss */
.tab-content p {
  font-family: Arial;
  color: #444;
  line-height: 25px;
}

/* line 250, ../sass/style.scss */
.table-responsive tr td {
  padding: 4px;
}

/* line 256, ../sass/style.scss */
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 5px;
}

/* line 260, ../sass/style.scss */
.search {
  margin-bottom: 20px;
}

/* line 264, ../sass/style.scss */
textarea {
  resize: none;
  width: 100%;
  min-height: 60px;
  padding: 15px;
  border-radius: 4px;
  border: #ccc 1px solid;
}

/* line 273, ../sass/style.scss */
.no-left-padding {
  padding-left: 0 !important;
}

/* line 276, ../sass/style.scss */
.web-placeholder {
  position: relative;
}
/* line 279, ../sass/style.scss */
.web-placeholder label i {
  display: none;
  position: absolute;
  bottom: 0;
  font-size: 65px;
  left: -17px;
  margin-top: -24px;
  opacity: .5;
  right: 0;
  text-align: center;
  top: 47%;
  z-index: 99;
}
/* line 294, ../sass/style.scss */
.web-placeholder input[type=radio]:checked + label img {
  border: #999 1px solid;
}
/* line 298, ../sass/style.scss */
.web-placeholder input[type=radio]:checked + label i {
  display: block;
}
/* line 301, ../sass/style.scss */
.web-placeholder input[type=radio]:unchecked + label i {
  display: none;
}

/* line 306, ../sass/style.scss */
.placeholder-radio {
  position: absolute;
  height: 100%;
  left: 0;
  opacity: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}

/* line 316, ../sass/style.scss */
.break-word {
  line-height: 20px;
  color: #777;
}

/* line 321, ../sass/style.scss */
.table {
  border: #ccc 1px solid !important;
  border-right: 0 !important;
  border-left: 0 !important;
}
/* line 328, ../sass/style.scss */
.table tr:nth-child(even) {
  background: #f6f6f6;
}
/* line 330, ../sass/style.scss */
.table tr th {
  background: #f6f6f6;
  border-bottom: 0 !important;
  color: #555555;
  font-size: 12px;
  font-weight: bold;
}
/* line 337, ../sass/style.scss */
.table tr td {
  font-size: 12px;
  color: #777;
  vertical-align: middle !important;
}
/* line 344, ../sass/style.scss */
.table tr th, .table tr td {
  border: #ddd 1px solid;
  padding: 8px 20px !important;
  text-align: center;
}
/* line 348, ../sass/style.scss */
.table tr th:nth-child(1), .table tr th:nth-child(2), .table tr td:nth-child(1), .table tr td:nth-child(2) {
  text-align: left;
}
/* line 352, ../sass/style.scss */
.table tr th:last-child i, .table tr td:last-child i {
  line-height: 25px;
  color: #777;
  margin-right: 10px;
}

/* line 362, ../sass/style.scss */
.error-message {
  color: red;
  display: none;
  font-size: 10px;
  font-weight: bold;
}

/* line 369, ../sass/style.scss */
.center-block {
  max-width: 800px;
  margin: 0 auto;
}

/* line 375, ../sass/style.scss */
.error-group .error-message {
  display: block;
  margin: 6px 0 0 0;
}
/* line 380, ../sass/style.scss */
.error-group .form-control {
  border: red 1px solid;
}

/* line 385, ../sass/style.scss */
.required {
  color: red;
  font-weight: bold;
  font-size: 14px;
}

/* line 391, ../sass/style.scss */
.nav-tabs {
  border-bottom: 1px solid #bcbcbc;
}
/* line 394, ../sass/style.scss */
.nav-tabs li.active a {
  border: 1px solid #bcbcbc;
  border-bottom-color: transparent;
  padding: 10px 25px;
}
/* line 399, ../sass/style.scss */
.nav-tabs li a {
  border-radius: 0;
  color: #2b2b2b;
  font-weight: bold;
}
/* line 405, ../sass/style.scss */
.nav-tabs li a:hover {
  background-color: transparent;
  background: transparent;
  border: transparent 1px solid;
}

/* line 414, ../sass/style.scss */
.modal-sm {
  width: 360px;
}
/* line 416, ../sass/style.scss */
.modal-sm .modal-body {
  padding-top: 30px;
}
/* line 419, ../sass/style.scss */
.modal-sm .modal-content {
  padding: 0 0 5px 0px;
}
/* line 421, ../sass/style.scss */
.modal-sm .modal-content .modal-footer {
  margin: 30px 0 0 0;
  text-align: center;
  border-top: #ccc 1px solid;
  padding: 11px 20px;
}

/* line 430, ../sass/style.scss */
.mobile-table {
  width: 248px;
  height: 430px;
  overflow: auto;
  display: none;
}

/* line 437, ../sass/style.scss */
img {
  max-width: 100%;
}

/* line 441, ../sass/style.scss */
.visible-block {
  display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* IE10-specific styles go here */
  /* line 447, ../sass/style.scss */
  section.container-fluid {
    padding-right: 25px;
  }
}
@media screen and (min-width: 400px) and (max-width: 768px) {
  /* line 456, ../sass/style.scss */
  .table tr td, .table tr th {
    padding: 8px 5px !important;
  }
}
@media screen and (min-width: 400px) {
  /* line 465, ../sass/style.scss */
  .visible-block {
    display: block !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 399px) {
  /* line 470, ../sass/style.scss */
  .mobile-table {
    display: block;
  }
}
.error {
  color: red;
  font-weight: bold;
}
